/* Nav Bar */

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  /* background-color: rgb(49,153,206); */
}
#searchInput {
  width: 400px;
}
#navbarTogglerDemo03 {
  gap: 40px;
}
#navbarItems {
  gap: 30px;
}
.turnOff {
  display: none;
}
#cartIcon,
#filterIcon {
  width: 35px;
}
#logoIcon {
  width: 60px;
}

/* Nav Bar */

/* Slider */

#carouselExampleIndicators {
  position: relative;
  top: 100px;
  margin: 20px auto 120px !important;
}

.carousel-item {
  width: 70vw;
  height: 40vh;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Silder */

/* Products & Filter */
.productSection {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.productTitle {
  text-align: center;
}

.filterBtnsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.filterBtn {
  background-color: lightblue;
  padding: 10px;
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 10%;
}

.filterBtn.activeProduct {
  color: white;
  background-color: #0d6efd;
}

.allProductsContainer {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.productContainer {
  width: 20vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 10px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.prodImgContainer {
  padding: 10px;
  width: 100%;
  height: 70%;
  background-color: darkgray;
  border-radius: 10px;
}

.productImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brandName {
  margin-top: 3px;
  color: gray;
}

.prodName {
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price_cartContainer {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

@media (min-width: 0px) and (max-width: 650px) {
  .productContainer {
    width: 80vw;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .productContainer {
    width: 40vw;
  }
}
/* Products & Filter */

/* about */

#abtSep{
width: 60px;
width: 410px;
height: 7px;
background-color:#666;
opacity: 0.5;  
text-align: start;
}
.aboutContainer{
  display: flex;
  justify-content:space-around;
  margin: 40px;  
}
.about{
   display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px; 
  background-color: aliceblue;
  border-radius: 0px;
  padding: 40px;
  box-shadow: 3px 7px 7px rgb(164, 196, 223);
  margin-left: 90px;
}
.aboutTitle{
  color: rgb(50, 7, 243);
  font-size: 40px;
 /* font-family: Verdana, Geneva, Tahoma, sans-serif ;*/
  font-weight: bolder;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 4px;
}
.aboutContent{
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.aboutContainer img{
  width: 520px;
  border-radius: 50%;
  box-shadow: 3px 7px 7px rgb(177, 202, 223);
}
@media (min-width:0px) and (max-width:850px){
  .aboutContainer{
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      align-items: center;
      margin: 40px;   
  }
  .about{
      margin-top: 30px;
      margin-left: 0px;
  }
  .aboutContainer img{
      width: 400px;
      border-radius: 50%;
      box-shadow: 3px 7px 7px rgb(177, 202, 223);
  }
  .about{
      display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     width: 60vw; 
     background-color: aliceblue;
     border-radius: 0px;
     padding: 40px;
     box-shadow: 3px 7px 7px rgb(164, 196, 223);
 }
 #abtSep{
  width: 60px;
  width: 47vw;
  height: 7px;
  background-color:#666;
  opacity: 0.5;  
  text-align: start;
  }
  
}
/* about */

/*contact*/
body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(164, 164, 189) 0%, rgb(167, 198, 204) 0%, rgb(230, 239, 241) 50%,rgb(167, 198, 204) 100%);
}
.contactTitle{
  color: rgb(74, 18, 179);
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
  letter-spacing: 4px;
}
.form{
  background-color: rgb(234, 250, 245);
  width: 65vw;
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 30px;
  box-shadow: 3px 7px 7px rgb(164, 196, 223);
}
  

.name,.message,.email{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
input::placeholder,textarea::placeholder{
  font-size: 15px;
  padding: 3px;
  text-align: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input,textarea{
  font-size: 15px;
  padding: 15px;
  text-align: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form>div{
  margin: 7px;
}
#name,#email,#message{
  width: 60vw;
  border-radius: 5px;
  height: 20px;
  background-color: rgb(216, 229, 245);
  border-style: none;
  align-self: center;
}

#sub{
  width: 60vw;
  border-radius: 10px;
  height: 45px;
  background-color: rgb(108, 87, 224);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 8px;
  border-style: none;
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
}
label{
  font-size: 18px;
}
#message{
  height:110px;
}
.footer img{
  width: 40px;
  color: blue;
}
.footer{
  background-color: aliceblue;
  width: 65vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 3px 7px 7px rgb(164, 196, 223);
}

.cont{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 15px;
}
.social{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  margin: 35px;
}
.loc,.phone,.e-mail{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
.error{
  color: red;
  font-size: 15px;
}
#separator{
  width: 95vw;
  background-color: rgb(0, 0, 0);
  height: 2px;
  margin: 20px;
  margin-top: 50px;
}

@media (min-width:0px) and (max-width:850px){
  .form{
    background-color: rgb(234, 250, 245);
    width: 80vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: start;
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 15px;
    box-shadow: 3px 7px 7px rgb(164, 196, 223);
  }
  #name,#email{
    width: 72vw;
    border-radius: 5px;
    height: 20px;
    background-color: rgb(216, 229, 245);
    border-style: none;
    align-self: center;
  }
  #message{
    width: 72vw;
  }
  
  #sub{
    width: 72vw;
    border-radius: 10px;
    height: 45px;
    background-color: rgb(108, 87, 224);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 8px;
    border-style: none;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
  }
  .footer{
    background-color: aliceblue;
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 3px 7px 7px rgb(164, 196, 223);
  }

}


/*contact*/
