* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url(../rescources/backgroud.png);
  backface-visibility: 0;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.container {
  height: 90vh;
}
.layout {
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: -2px -2px 2px 2px;
}
.header {
  font-family: monospace;
  border: 0px solid rgb(51, 51, 255);
  border-radius: 5px;
}
.loginText {
  font-size: 0.85rem;
}
#mail,
#pwd {
  /*width: 30vw;*/
  height: 50px;
  border: 1px solid rgb(51, 51, 255);
  background-color: rgb(204, 229, 255);
  border-radius: 10px;
}
#mail:focus,
#pwd:focus {
  outline: none;
  border-color: rgb(51, 51, 255);
  box-shadow: 0 0 10px rgb(51, 51, 255);
  background-color: rgb(224, 224, 224);
}

.invalidText {
  border-color: red !important;
}
.invalidText:focus {
  box-shadow: 0 0 10px red !important;
}

#loginBtn {
  /*width: 30vw;*/
  height: 50px;
  font-family: monospace;
  background-color: rgb(51, 51, 255);
  border-color: rgb(0, 0, 153);
  border-radius: 10px;

  color: white;
  font-weight: bold;
  font-size: 2rem;
}
#loginBtn:hover {
  background-color: rgb(0, 0, 153);
}
a {
  text-decoration-line: none;

  color: rgb(51, 51, 255);
}
a:hover {
  color: rgb(0, 0, 153);
}

.warning {
  font-size: 12px;
  color: red;
}
